NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
NEXT_PUBLIC_BASE_URL=

# Sanity API Version (OPTIONAL - defaults to 2025-12-23)
# Format: YYYY-MM-DD (e.g., 2025-12-23)
# - See changelog: https://www.sanity.io/docs/api-changelog
NEXT_PUBLIC_SANITY_API_VERSION=

# Sentry Configuration OPTIONAL
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Analytics
NEXT_PUBLIC_UMAMI_SCRIPT_URL=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=

# Environment
NEXT_PUBLIC_APP_ENV=development
